.App {
  /* background-color: #282c34; */
  border: blue 3px solid;
  max-width: 100%;
  height: 100vh; /* Ocupa todo el alto de la pantalla */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin);  */
  /* overflow: hidden; Esto evitará las barras de desplazamiento */
}