
.container {
  display: flex;
  flex-direction: column;
  width: 900px;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 40px;
  margin-top: 100px;
  height: 500px;
  background-image: url('../../assets/image/pexels-rachel-claire-4992673.jpg');
  background-size: cover;
 
  
}



.containerForm {
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 400px;
  justify-content: flex-start;
  align-items: flex-start;
}

.container h2 {
  font-size: 24px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: Arial, sans-serif;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
}

.containerName{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* border: blue solid 3px; */
  width: 700px;
}

.containerName span{
  margin-top: 2px;
  margin-left: 15px;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
}


.labelName {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 4px;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
}
.inputName {
  border-radius: 5px;
  margin-left: 30px ;
  width: 300px;
}

.containerDifficulty{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* border: red solid 3px; */
  width: 700px;
  margin-top: 10px;
}

.labelDifficulty {
 font-weight: bold;
  font-size: 16px;
  margin-bottom: 4px;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
}

input[type='range'] {
  width: 300px;
}
.labelValueDifficulty{
  margin-left: 10px;
  font-weight: bold;
  font-size: 12px;
  margin-top: 2px;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
}

.containerDuration{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* border: green solid 3px; */
  width: 700px;
  margin-top: 10px;

}
.containerDuration span{
  margin-top: 3px;
  margin-left: 10px;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
}

.labelDuration {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 4px;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
}

.inputDuration{
  border-radius: 5px;
  margin-left: 30px ;
  width: 100px;
}

.labelHs {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 4px;
  margin-left: 5px;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
}

.seasonContainer {
  display: flex;
  flex-direction: row;
  /* border: green 3px solid; */
  border-radius: 5px;
  margin-top: 20px;
  width: 700px;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
}

.seasonContainer span{
  margin-top: 5px;
  margin-left: 10px;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
}

.listSeason {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  /* border: orange 2px solid; */
  padding: 0;
  margin: 0;
  width: fit-content;
  margin-left: 30px;
  
}

.listSeason li {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-right: 20px;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
}

.containerCountry{
  display: flex;
  flex-direction: column;
  /* border: green 3px solid; */
  border-radius: 5px;
  margin-top: 20px;
  width: 700px;
  align-items: flex-start;
  height: 200px;
}

.containerCountry span{
  margin-top: 3px;
  margin-left: 15px;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
}

.containerList{
  /* border: orange 3px solid; */
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: 30px;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
}

.listSelect{
  height: 20px;
  margin-top: 3px;
  margin-left: 20px;
  border-radius: 5px;
}

.countrySelect{
  /* border: brown 3px solid; */
  margin-top: 10px;
  justify-content: center;
  display: flex;
  width: 700px;
  flex-direction: row;
  flex-wrap: wrap;
}

.btnRemove {
  background-color: #ff0000;
  color: #ffffff;
  border: none;
  padding: 3px 8px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  height: 30px;
  margin: 5px;
  box-shadow: -2px -2px 5px #888, 2px 2px 5px #666, inset 2px 2px 4px #888, inset -2px -2px 4px #666;
  transition: box-shadow 0.2s; /* Agregar transición para el efecto de sombras */
}

.btnRemove:hover {
  box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444, inset -5px -5px 10px #222;
  color: #fff; /* Cambiar el color del texto al pasar el mouse si es necesario */
}


.createButton {
  display: block;
  margin: 20px auto;
  background-color: #008000;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444, inset -5px -5px 10px #222;
}

.createButton:hover {
  box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #222, inset -5px -5px 10px #444;
  color: #d6d6d6;
}

span{
  font-size: 12px;
  margin-left: 5px;
  color: rgb(192, 0, 0);
  font-weight: bold;
}