/* .card{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    align-items: center;
    justify-content: center;
    border: yellow solid 2px;
} */

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 320px; 
    width: 300px;
    margin: 20px;
    /* background-image: url('../../utils/image/Dark/Products\ -\ Clay.jpg'); */
    border-radius: 40px;
    box-shadow:  6px 6px 9px #262626,
               -6px -6px 9px #464646;
  }
  
  .image{
    display: flex;
    height: 100px;
    width: 200px;
}