
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    height: 260px; 
    width: 250px;
    margin: 10px;
    border-radius: 30px;
  background: linear-gradient(145deg, #3a3a3a, #313131);
  box-shadow: 12px 12px 24px #202020,
              -12px -12px 24px #4c4c4c;
  color:black;
  border: green solid 1px;
  }
  
 
  .card p{
    margin: 0;
    font-weight: bold;
    font-size: 16px;
  }

  .data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 180px;
    /* border: brown 3px solid; */
    margin-top: 10px;
  } 
  .name{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    /* border: solid yellow 2px; */
    gap: 3px;
  }
  .name h4 {
    margin: 0;
    font-size: 16px;
  }
  
  .continent{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    /* border: solid green 2px; */
    gap: 3px;
  }
  .continent h4 {
    margin: 0;
    font-size: 14px;
  }

  .statusButton{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    width: 200px;
  }

  .image{
    /* display: flex; */
    height: 90px;
    width: 180px;
    border-radius: 20px;
  }

.inputRed {
       appearance: none;
        display: block;
        margin: 10px;
        width: 24px;
        height: 24px;
        border-radius: 12px;
        cursor: pointer;
        box-shadow: hsla(0,0%,100%,.15) 0 1px 1px, inset hsla(0,0%,0%,.5) 0 0 0 1px;
        background-color: hsla(0,0%,0%,.2);
        background-image: -webkit-radial-gradient(hsla(0, 100%, 50%, 1) 0%, hsla(0, 100%, 30%, 0) 70%);
        background-repeat: no-repeat;
      }

      .inputGreen {
        appearance: none;
         display: block;
         margin: 10px;
         width: 24px;
         height: 24px;
         border-radius: 12px;
         cursor: pointer;
         box-shadow: hsla(0,0%,100%,.15) 0 1px 1px, inset hsla(0,0%,0%,.5) 0 0 0 1px;
         background-color: hsla(0,0%,0%,.2);
         background-image: -webkit-radial-gradient(hsla(120, 100%, 50%, 1) 0%, hsla(120, 100%, 30%, 0) 70%);
         background-repeat: no-repeat;
       }
      
      
      
      
      